<% locals.setLayout('layouts/base.ejs') -%>
<% locals.block('title', 'Index view') -%>
<% let newsList = locals.require('requires/news-list.json') -%>

<% locals.block('head', '<meta name="description" content="This is a news page">') %>

<% locals.block('scripts', '<script src="/js/main.js"></script>', 'append') %>
<% locals.block('scripts', '<script src="/js/news.js"></script>', 'append') %>

<h1>Last News</h1>
<%- locals.widget('widgets/news-list.ejs', {list: newsList}) %>
<hr>