<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title><%- locals.blocks.title %></title>
        <%- locals.blocks.head %>
    </head>
    <body>
        <%- locals.blocks.header %>
        <%- locals.body %>

        
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <%- locals.blocks.scripts %>
    </body>
</html>